---
import Layout from "@layouts/Layout.astro";
import Sidebar from "@components/Sidebar.astro";
import Logo from "@components/Logo.astro";
import Photo from "@components/Photo.astro";
import { cache, CachedResponse } from "@utils/index";

const response = await cache(
  { locals: Astro.locals, request: Astro.request },
  async ({ R2 }) => {
    const prefix = `${Astro.params.username}/original`;
    const { objects } = await R2.list({
      prefix,
      include: ["customMetadata"],
      limit: 100,
    });
    const photos = objects
      .map((object) => {
        return object.customMetadata;
      })
      .sort((a, z) => z.timestamp - a.timestamp);
    return new CachedResponse(photos);
  },
);

const photos = await response.json();
const { username } = Astro.params;
---

<Layout
  title="Benjamin Oertel"
  class="min-h-screen grid grid-cols-[min-content_1fr] [grid-template-areas:'sidebar_sidebar''content_content''logo_footer'] md:grid-cols-[300px_auto] md:grid-rows-[min-content_1fr_min-content] md:[grid-template-areas:'logo_content''sidebar_content''footer_content']"
>
  <Logo
    href="/"
    class="p-page sticky bottom-0 md:bottom-auto md:top-0 z-10 bg-black"
  />

  <Sidebar
    class="flex flex-col md:fixed bottom-0 z-10 w-[300px] p-page md:mb-[26px]"
  >
    <h1 class="text-6xl font-mono tracking-tighter">Benjamin Oertel</h1>
  </Sidebar>

  <section
    class="sm:columns-1 md:columns-2 lg:columns-3 gap-[var(--gap)]"
    style="grid-area: content; --gap: 0.25rem;"
  >
    {
      photos.map((photo, index) => (
        <figure class="break-inside-avoid relative group mb-[var(--gap)] last:mb-0">
          <a href={`/from/${username}/${photo.id}`} class="group/photo">
            <Photo
              id={photo.id}
              photo={photo}
              loading={index < 6 ? "eager" : "lazy"}
            />
          </a>
        </figure>
      ))
    }
  </section>

  <footer
    style="grid-area: footer"
    class="bg-black sticky bottom-0 py-page z-10 text-sm flex items-center pr-page md:pl-page"
  >
    <span class="text-muted">just photos from&nbsp;</span>
    <a href={`/from/${username}`} class="hover:underline" tabindex="-1"
      >{username}</a
    >
  </footer>
</Layout>
